<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>08_MySQL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaPersonaServlet</display-name>
    <servlet-name>AltaPersonaServlet</servlet-name>
    <servlet-class>servlet.AltaPersonaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaPersonaServlet</servlet-name>
    <url-pattern>/AltaPersonaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BajaPersonaServlet</display-name>
    <servlet-name>BajaPersonaServlet</servlet-name>
    <servlet-class>servlet.BajaPersonaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BajaPersonaServlet</servlet-name>
    <url-pattern>/BajaPersonaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarPersonaServlet</display-name>
    <servlet-name>ModificarPersonaServlet</servlet-name>
    <servlet-class>servlet.ModificarPersonaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarPersonaServlet</servlet-name>
    <url-pattern>/ModificarPersonaServlet</url-pattern>
  </servlet-mapping>
</web-app>